<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Callout section</title>
</head>
<body>
	<div class="callout callout--primary">
		<div class="grid grid--1x2">
			<div class="callout__content">
				<h2 class="callout__heading">Ready To Get Started?</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nostrum!
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod error rem enim quas voluptatem repellat, hic beatae voluptatibus soluta magnam.
				</p>
			</div>
			<a href="#" class="btn btn--secondary">Get Started</a>
		</div>
	</div>
	
</body>
</html>