<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>Styling quote components</title> 
</head>
<body>
	<blockquote class="quote">
		<p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, saepe.</p>
		<!-- footer can be part of anything -->
		<footer>
			<div class="media">
				<div class="media__image">
					<svg class="icon icon--primary quote__line">
						<use xlink:href="/images/sprite.svg#line"></use>
					</svg>
				</div>
					
				<div class="media__body">
					<h3 class="media__title quote__author">John Smith</h3>
					<p class="quote__organization">ABC Company</p>
		
				</div>
			</div>
			
		</footer>
	</blockquote>
</body>
</html>